<div>
  <%= flash[:notice] %>
</div>

<div class="container">
  <div class="row">
    <div class="mx-auto">
      
      <h1>Welcime to <strong><i class="fas fa-book"></i>Bookers</strong>!</h1>
      <p>In <strong><i class="fas fa-book"></i>Bookers</strong>,</p>
      <p>you can share and exchange your opinions , inpressions , and emotions</p>
      <p>about various books!</p>
      <div class="col-10 mx-auto">
        <div class="row">
          <div class="w-100">
           <%= link_to "Log in", new_user_session_path, class: "btn btn-info from-comtrol btn-block" %>
          </div>
          <div class="w-100 my-3">
            <%= link_to "Sign up", new_user_registration_path, class: "btn btn-success from-comtrol btn-block" %>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
